body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HEADER */
header{
    background-color: white;
    border-top: 1px solid grey;
}

#logo{
    width: 90px;
    height: 90px;
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    margin: 0;

}
 /* MAIN */
.container{
    max-width: 1500px;
    margin: auto;
    margin-top: 60px;
   
}

/* add task & section */
.buttons{
    background-color: white;
    padding: 10px 85px;
    
}

.add{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.task{    
    background-color: #47adf1;
    color: white;
    font-weight: bold;
}

.section{    
    color: lightgray;
    background-color: white;
}

/* elementi lista */

.list{
    background-color: white;
    padding: 10px 85px 50px;
    margin-top: 5px;
}
.row{
    margin-top: 10px;
}

/* classi check e cross */
.circle{
    display: inline-block;
    border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}
    

.green{
    color: #64c1ab;
    border-color: #64c1ab;
    
}

.red{
    color: red;
    border-color: red;
}


/* classi etichette colorate */
.etichetta{
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 10px;
}

.azzurra{
    background-color: #47adf1;
}

.viola{
    background-color: #9c72e4;
}

.verde{
    background-color: #5ebda5;
}

.arancio{
    background-color: #f29e33;
}

.rosa{
    background-color: #d863a1;
}

.verdescuro{
    background-color: #adc71e;
}