body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HEADER */
header{
    background-color: white;
    border-top: 1px solid grey;
}

#logo{
    width: 90px;
    height: 90px;
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    margin: 0;

}
 /* MAIN */
.container{
    max-width: 1500px;
    margin: auto;
    margin-top: 60px;
   
}

/* add task & section */
.buttons{
    background-color: white;
    padding: 10px 85px;
    font-family: inherit;
    
}

.add{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.task{    
    background-color: #47adf1;
    color: white;
    font-weight: bold;
}

.section{    
    color: lightgray;
    background-color: white;
}

/* elementi lista */

.list{
    background-color: white;
    padding: 10px 85px 50px;
    margin-top: 5px;
}

.list> ul{
    list-style-type: none;
    padding: 0px;
    
}

.list h2::before{
    content:'\25BE';
}

.list li.circle::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid green;
    content: '\2713';
    text-align: center;
    color: green;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list li.notdone::before{
    color: red;
    border-color: red;
    content: '\2715';
}

.tag{
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    vertical-align: middle;
    color: white;
    font-size: 10px;
}
.azzurra{
    background-color: #47adf1;
}

.viola{
    background-color: #9c72e4;
}

.verde{
    background-color: #5ebda5;
}

.arancio{
    background-color: #f29e33;
}

.rosa{
    background-color: #d863a1;
}

.verdescuro{
    background-color: #adc71e;
}